<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    <!-- My own css -->
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <button id="showItemsBtn">Show Items</button>
    
    <!-- import axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
    <script src="script.js"></script>
  </body>
</html>
